@media screen and (min-width: 640px)
{
    img{
        display:relative;
        width :100%;
    }
    article{
        display:absolute;
    }
    .purpose{
        left: 2rem;
        top:10rem;
    }
    .scenario{
        right:2rem;
        top:10rem;
    }
}