
/* CSS for top menu FInal CSS */
@media (min-width: 768px) {


    .top #header_no_print .col-sm-3 {
        display: block !important;
        width: 85px;
        padding-right: 0px;
    }

    .top #header_no_print .col-sm-9 {
        width: 100%;
        padding-left: 0px;
    }

    .top #wrapper {
        padding-left: 0px !important;
        min-height: 100vh;
    }

    .top .navbar-default.contentleft::before {
        content: "";
        width: 230px;
        height: 155px;
        background: #f2f2f200 !important;
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
    }

    .top .social-share {
        padding-left: 230px !important;
    }



    .top .contentpart {
        margin-top: 25px;
    }

    .top #header_no_print {
        position: absolute;
        top: 70px;
        left: 0;
        width: 230px;
        z-index: 6;
    }

    .top a[id*='lnkHomePage'] {
        font-size: 0.75rem;
        color: #fff !important;
        text-decoration: none !important;
        font-weight: bold;
        text-transform: uppercase;
        padding: 0;
        left: -341px;
        width: 230px;
        position: absolute;
        top: -28px;
        height: 70px;
        text-indent: -99999999rem;
        z-index: -9999999;
        /*background-color: aliceblue;*/
    }

    .top #header .navbar-brand1 {
        width: 230px;
        position: absolute;
        top: 10px;
        left: 0;
        /* z-index: 999999999999999; */
        /* margin: 0; */
        /* margin: 0; */
        padding: 1rem 1.5rem;
        /* float: left; */
        height: auto;
        padding: 0px 20px 0px 15px;
        /* font-size: 18px; */
        /* line-height: 20px; */
        /* margin: 10px 0 10px 0; */
    }

    .top #header .navbar-default {
        background: transparent;
        box-shadow: none;
        position: unset;
        margin-bottom: 0px;
        border: none;
        border-radius: 0px;
    }

    .top .row > .col-sm-5 {
        width: -webkit-fill-available !important;
    }

    .top .menuClass {
        padding: 0px 3px;
        margin-top: -5px;
    }

    .top .chosen-container .chosen-drop {
        z-index: 1 !important;
    }

    /*###########################################     New Menu Style    #################################################################*/


    .top #header .navbar-default .container-fluid > .row > .col-sm-7 {
        width: 100%;
        background: #fff;
    }

    .top #header .social-share {
        padding-left: 15px;
        justify-content: flex-end;
    }

    .top #header_no_print {
        position: absolute;
        top: 30px;
        left: 270px;
        width: 230px;
        z-index: 6;
        /* background: #fff; */
    }

    /*###########################################     New Menu Style    #################################################################*/




}




@media (max-width: 768px) {

    .top #header_no_print .col-sm-3 {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}



/* Extra CSS form Old home page Layout*/
.top .small-box > .small-box-footer {
    z-index: 0 !important;
}
/* End of  Extra CSS form Old home page Layout */
