@media screen and (min-width: 1000px) {
  picture {
    position: relative;
  }
  article{
    position: absolute;
    background-color: var(--secondary-color);
  }
  .data{
    top: 10rem;
    left:5rem;
    display: flex;
    flex-direction: column;
    

  }
  .info{
    top: 25rem;
    right: 5rem;
  }
  
  picture img{
    height: 40rem;
  }
  h2{
    background-color: rgb(48, 71, 48);
    color: var(--text-color);
   padding: 1rem 4rem ;
  }
  .data h2{
    right :4.5rem;
  }
  body{
    background-color: rgb(219, 244, 219);
  }
}