@media screen and (min-width: 640px) {
    main,header,footer {
        max-width: 100%;
        margin: 0 auto;
        padding: 1rem;
    }

    
    main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
    footer,header{
        background-color: #020240;
    }
    main h1{
        text-align: center;
        grid-column: 1 / -1;
    }

    }
    h2{
        grid-column:1/4;
        text-align: center;
    }
   #menubutton ,.open{
    display:none;
   }
   header{
    display: flex;
    justify-content: space-evenly;
    padding-right:15rem;
    
   }
   header h1 {
        flex: 1;
    }
    .navlist {
        flex-direction: row;
        justify-content: center;
    }
    .navlist a {
        display: block;
        padding: 1rem;
    }
    .navlist a:hover {
        background-color: #c7e80d;
        color: black;
    }
}